@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


	

body {
font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
	background: #000000;
	margin: 0;
	
 	 /* -webkit-filter: grayscale(60%); -moz-filter: grayscale(60%);
filter: gray; filter: grayscale(60%);
filter: url(desaturate.svg#greyscale); */
	
}


img {max-width:100%}

span.text-span { background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms; }
  
  
h2, h3 { color: white;font-family: "Lato", Arial ;font-weight: 300;text-align: left;max-width: 600px;
	width: 90%;
	opacity: 1;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
margin: 0 auto;}

#bt, #br, #bb, #bl {
position: fixed;
top: 0;
left: 0;
background: #FF5C5C;
z-index: 3;
opacity: 1;
	}


#bt, #bb {
width: 100%;
height: 14px;
}

#bl, #br {
height: 120%;
width: 14px;
}


#br {
left: auto;
right: 0;
}

#bb {
top: auto;
bottom: 0;
}

.container {

	overflow:hidden;
}

p {
	font-size: 80%;
}

a {
	color: rgba(255,99,99,1);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.6em;
	color: #ffffff;
}

header h1 span {
	display: block;
	padding: 0.3em 0 0.3em;
	font-size: 0.45em;
}


h1 {
font-weight: 300;
font-size: 2.6em;
color: #ffffff;


}

/* To Navigation Style */
.top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.top span.right {
	float: right;
}

.top span.right a {
	display: block;
	float: left;
}

.icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.icon-drop:before {
	content: "\e001";
}

.icon-prev:before {
	content: "\e004";
}

section {
	padding: 0em 3% 4em;
	text-align: center;
	font-size: 1.5em;
}

}

.noscroll {
	overflow: hidden;
}

.grid-wrap {
	margin: 10px auto 0;
	max-width: 780px;
	width: 100%;
	padding: 0;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.grid {

	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.view-full .grid {
	-webkit-transform: translateZ(-1500px);
	transform: translateZ(-1500px);
}

.grid figure,
.grid .placeholder {
	width: 320px;
	height: 319px;
}

.grid figure {


	margin: -3.5px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	
}


.grid figure :hover{
-webkit-filter: hue-rotate(40deg) brightness(210%);;
	-webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	

 transform:scale(.7);
    -ms-transform:scale(.95); /* IE 9 */
    -moz-transform:scale(.95); /* Firefox */
    -webkit-transform:scale(.95); /* Safari and Chrome */
    -o-transform:scale(.95); /* Opera */
    
  

}



.grid figure.active {
	opacity: 0;
}

.grid .placeholder {
	pointer-events: none;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.placeholder > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.placeholder .front img {
	width: 100%;
	height: 100%;
}

.placeholder .back {
	background: rgba(255,92,92,0.73);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.view-full .placeholder {
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.vertical .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateX(-179.9deg);
	transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
}

#footer {
position: fixed;
bottom: 30px;
left: 40px;
font-size: 0.8em; color: #ffffff;
display: block;
font-weight: 200;
}


.grid figure img {
	display: block;
	width: 100%;
}

.content,
.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.content {
	overflow-y: scroll;
	height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
	background: #000000;
	visibility: hidden;
	z-index: 400;
	-webkit-overflow-scrolling: touch;
}

.loading {
	opacity: 0;
	z-index: 1;
	background: transparent url(../img/preloader.gif) no-repeat center center;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.content.show {
	height: auto;
	pointer-events: auto;
	visibility: visible;
}

.content > div {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	background: #000000;
}

.content > div.show {
	height: auto;
	opacity: 1;	
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.close-content {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 10px;
	font-size: 1.6em;
	color: #aaa;
	cursor: pointer;
	pointer-events: none;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.close-content:hover {
	color: #999;
}

.content > div.show ~ .close-content {
	opacity: 1;
	pointer-events: auto;
}


/* main content */

.main-img,
.main-text {
	max-width: 600px;
	width: 90%;
	opacity: 1;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}




.album-img {max-width: 320px; width: 100%; margin: 0 auto;-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.main-img {margin: 40px auto; }


.vertical .main-img,
.vertical .main-text {
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

.horizontal .main-img,
.horizontal .main-text {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.content > div.show .main-img,
.content > div.show .main-text {
	opacity: 1;
}

.vertical .content > div.show .main-img,
.vertical .content > div.show .main-text {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.horizontal .content > div.show .main-img,
.horizontal .content > div.show .main-text {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

p.main-text:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

p.main-text:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.main-img {
	height: 320px;
	background-color: none;
	
}

.main-text {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0;
	color: #d9d9d9;

	font-size: .65em;
	font-weight: 300;
	font-family:  "Lato",Arial, serif;
}

.main-text:last-child {
	padding-bottom: 100px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .main-img,
.no-csstransitions .main-text,
.no-csstransforms3d .main-img,
.no-csstransforms3d .main-text, 
.no-pointerevents .main-img,
.no-pointerevents .main-text {
	display: block !important;
	opacity: 1;
}


#preloader {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,1);z-index:999; }
			#status {width:64px;height:64px;position:absolute;margin-left:-32px;margin-top:-32px;left:50%;top:50%;background-image:url(../img/preloader.gif);
}


/* Effect: cross */
.cross {
	position: relative;
	z-index: 100;
}

.cross a {
	padding: 0 -5px;
	color: rgba(240,97,97,0.13);
	font-size: .6em;
	font-weight: 300;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cross a::before,
.cross a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: 6.3px;
	background: rgba(240,97,97,0.81);
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cross a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
	
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);

	

}

.cross a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	
	
}

.cross a:hover,
.cross a:focus {
	color: rgba(255,255,255,0.64);
}

.cross a:hover::before,
.cross a:hover::after,
.cross a:focus::before,
.cross a:focus::after {
	opacity: 0.7;
}

.cross a:hover::before,
.cross a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cross a:hover::after,
.cross a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



@media screen and (max-width: 1000px) {

	}



@media screen and (max-width: 25em) {
#footer { display: none;}
	.grid figure{
width: 150px;
height: 150px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .main-img,
.no-csstransitions .main-text,
.no-csstransforms3d .main-img,
.no-csstransforms3d .main-text, 
.no-pointerevents .main-img,
.no-pointerevents .main-text {
	display: block !important;
	opacity: 1;
}



}